<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список автомобилей</title>
</head>
<body>
<div class="container">

    <h3>Водители</h3>
    <hr>
    <a th:href="@{/driver/add}"
       class="btn btn-primary btn-sm mb-3"> Добавить водителя </a>
    <br/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Действия</th>


        </tr>
        </thead>

        <tbody>
        <tr th:each="tempDriver : ${drivers}">

            <td th:text="${tempDriver.id}" />
            <td th:text="${tempDriver.lastName}" />
            <td th:text="${tempDriver.firstName}" />
            <td th:text="${tempDriver.patronymic}" />
            <td th:text="${tempDriver.gender.name}" />
            <td>
                <a th:href="@{/driver/update (id=${tempDriver.id})}"
                    class="btn btn-info btn-sm">Обновить</a>
                <a th:href="@{/driver/delete (id=${tempDriver.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>

        </tr>

        </tbody>
    </table>


    <nav aria-label="Pagination" th:if="${drivers.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">

            <li class="page-item" th:classappend="${drivers.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/driver/list (pageNumber=${drivers.number lt 2 ? 1 : drivers.number},pageSize=${drivers.size})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${i eq drivers.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, drivers.totalPages, 1)}">
                <a class="page-link" th:href="@{/driver/list (pageNumber=${i},pageSize=${drivers.size})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>

            <li class="page-item" th:classappend="${drivers.number + 1 eq drivers.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/driver/list (pageNumber=${drivers.number + 2},pageSize=${drivers.size})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
    <div class="container" align="right">
        Записей на странице:
        <a class="text-end" th:href="@{/driver/list (pageNumber=${drivers.number + 1}, pageSize=5)}"
           th:text="5"></a>
        <a class="text-end" th:href="@{/driver/list (pageNumber=${drivers.number + 1}, pageSize=10)}"
           th:text="10"></a>
        <a class="text-end" th:href="@{/driver/list (pageNumber=${drivers.number + 1}, pageSize=15)}"
           th:text="15"></a>
    </div>


    <!--

    <ui class="pagination" th:if="${vehicles.totalPages > 0}">
        <li th:each="pageNumber : ${vehicles.numbers}"
            th:class = "${pageNumber == number} ? active">
        <a th:href="@{/vehicles/list (pageNumber=${pageNumber})}" th:text = "${pageNumber}">

        </a>

        </li>

    </ui>

    -->

    <hr>
    <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>